<div class="page-shadow">
    <div class="contact-div">
        <div class="title-h1">Jeżeli chcesz się ze mną skontaktować wyślij maila</div>
        <form action="mailto:nieprawdziwymail@gmail.com" method="GET" target="_blank">
            <div>
                <div style="display: none" class="title">Start Email to chriscoyier@gmail.com</div>
                <div>
                    <label for="name">Wprowadź imię i nazwisko <br>
                        <input type="text" name="subject" id="name">
                    </label>
                </div>
                <div>
                    <label for="text">Wprowadź treść maila w poniższe pole</label>
                    <textarea name="body" rows="20" cols="120" id="text"></textarea>
                </div>
            </div>
            <div><input type="submit" value="Create Email" class="button is-primary"></div>
        </form>
    </div>
</div>
