<div class="page-shadow">
</div>
<div class="main">
    <div>Dzisiejsza data:</div>
    <div id="data"></div>
    <div id="zegarek"></div>
    <section class="section-params-small">
        <div class="title-h1 center">Odliczamy do startu</div>
        <div class="section-body">
            <div style="font-size: 9rem;" id="countdown"></div>
        </div>
    </section>
    <section class="section-params-small">
        <div class="title-h1 center">Start 18 kwietnia 2021 roku!</div>
        <div class="section-body">
            <p>W Centrum Kosmicznym Johna F. Kennedy'ego trwają przygotowania do pierwszego lotu rakiety Space Launch System (SLS), która przynajmniej w planach zabierze ludzi ponownie na Księżyc oraz do przyszłej stacji Lunar Gateway, która będzie krążyła wokół Księżyca.</p>
        </div>
    </section>
</div>
<script src="../assets/js/timedate.js" type="text/javascript"></script>
