<div class="navbar">
    <ul class="nav-ul">
        <li class="nav-li"><a href="/?page=">Home</a></li>
        <li class="nav-li"><a href="/?page=gallery">Galeria statków kosmicznych</a></li>
        <li class="nav-li"><a href="/?page=crashes">Wypadki</a></li>
        <li class="nav-li"><a href="/?page=contact">Contact</a></li>
        <li class="nav-li"><a href="/?page=links">Linki</a></li>
        <li class="nav-li"><a href="/?page=countdown">Odliczanie do startu</a></li>
        <li class="nav-li"><a href="/?page=films">Filmy</a></li>
    </ul>
    <label class="switch">
        <input type="checkbox" id="background-checkbox" onclick="changeBackground()">
        <span class="slider round"></span>
    </label>
</div>